@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700');
.web div{
    height:2000px;
    /*position: fixed;*/
}

.web{
    
}

.web div:nth-child(2n){
    background-color:rgba(37,173,94,0.3) 
}

.web div:nth-child(2n+1){
    background-color:rgba(176,5,94,0.3) 
}

.navbar{
    font: bold 15px 'Source Sans Pro';
    text-transform: uppercase;

}

.nav{
    margin-left: 74px;
}

.navbar-nav li  a{
    padding:52px 42px 48px 0;
}