html{
    width:100%;
    height:100%;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/background3.jpg);
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#query{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-bottom: 40px;
    font-size: 24px;
    padding: 0 15px;
}

#query:focus{
    outline: none;
    border:none;
}

.search{
    background: none;
    width: 150px;
    height: 40px;
    border: solid 1px #fff;
    color: #fff;
    /*text-transform: uppercase;*/
}

.search:hover{
    background: #fff;
    color: #000;
    border-color: #000;
}

img{
    display: inline-block;
    width: 360px;
    height: 240px;
}

.video-list{
    height: 240px;
    width: 7000px;
    position: absolute;
    left: 0;
}

.full-width{
    width:100%;
    height: 100px;
}

.resultList{
    background: red;
    width: 7150px;
    height: 300px;
}

.videoNode{
    width:400px;
    height:90%;
    /*background: green;*/
    display: inline-block;
    border: solid 2px #485784;
    box-sizing: border-box;
    
}

.pageController{
    /*position: fixed;*/

    width:60px;
    height:20px;
    color: #fff;
    background: #fa7355;
}

.pageController.active{
    background: green;
}

.controllers{
    position: absolute;
    bottom: 0;
}