@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

@import url('https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

a{
    color:#fff;
}

html{
    height: 100%;
}

body{
    min-height:100%;
    background-color: #f9f9fb;
    position: relative;
}

/*body::before{
    content:'';
    height:345px;
    width:100%;
    background-color: #212429;
    position: absolute;
}*/

.pseudoheader{
    width:100%;
    height:345px;
    background-color: #212429;
}


.wrapper{
    width:1530px;
    margin:0 auto;
    position: relative;
    top:-345px;
}

header{
    height:55px;
    background-color: #212429;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.icon{
    padding: 0px 18px 0 20px;
}

.icon:hover{
    color:#999;
}

.btn-menu{
    height:100%;
    border:solid 1px #3c3c3c;
    border-width:0 1px;
    color:#fff;
    font-size:23px;
    display: flex;
    justify-content:center;
    align-items:center;
}

.logo{
    height:100%;
    display: flex;
    align-items: center;
    margin-left: 277px;
}

.logo span{
    text-transform: uppercase;
    color:#fefefe;
    font:600 22.15px 'Hind';
    margin-left:7.5px;
    letter-spacing: 4.5px;
    margin-top: 5px;
}

.social{
    height: 100%;
    /* display: flex; */
    /* align-items: baseline; */
}

.social ul{
    height: 100%;
    /* display: flex; */
    /* align-items: baseline; */
}

.social ul li{
    display: inline-block;
    height: 100%;
    border-left: solid 1px #3c3c3c;
    /* display: flex; */
    /* align-items: baseline; */
    /* justify-content: center; */
}



.social ul li:last-child{
    border-right: solid 1px #3c3c3c;
}

.social ul li a{
    height:100%;
    color:#fff;
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 15px;
}

main{
    min-height: 2000px;
    padding-bottom: 412px;
}

.slider{
    height:580px;
    position: relative;
}

/*.slider img{
    position: absolute;
    top:0;

}*/

.slider .caption{
    position: absolute;
    top:0;
    color:#fff;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.slider .caption h2{
    font:600 18px 'Hind', sans-serif;
    letter-spacing: 0.2em;
    margin-bottom: 14px;
    margin-top: 11px;
    line-height: 24px;
    margin-left: 98.5px;
}

.slider .caption h3{
    font:bold 40px 'Hind', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    line-height: 50px;
    margin-left: 97.5px;
}

.slider .caption .content{
    flex-direction: column;
}


.navigation {
    flex-direction: column;
    display: flex;
    align-items: center;
    transform: rotate(-90deg);
    margin-right: -65px;
}

.indicator {
    display: block;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border: solid 1px #fff;
    margin: 0 5px;
}

.indicators {
    flex-direction: row;
    display: flex;
    margin-bottom: 16px;
}

.navigation .indicators .active{
     background-color: rgba(255,255,255,0.5);
}

.indicator:hover{
    background-color: rgba(255,255,255,0.5);
}

.arrows {
    display: flex;
    align-items: center;
}

.arrows span {
    text-transform: uppercase;
    font: 600 14px 'Hind', sans-serif;
    letter-spacing: 0.2em;
    margin: 0 12px;
}

.arrows a{
    color:#fff;
    font-size: 27px;
    margin-top: -5px;
}

.arrows a:hover{
    color:#999;
}

form{
    width:100%;
    height:100px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom:solid 1px #f3f3f3;
}

form .caption{
    font:bold 20px 'Montserrat', sans-serif;
    line-height: 28px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-left:30px;
    color:#212121;
    width:200px;
}

form input{
    font:300 15px 'Hind', sans-serif;
    color:#a7a7a7;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 28px;
    padding-left:29px;
    width:450px;
    height: 50px;
    border: solid 1px #f3f3f3;
    margin-left:30px;
    padding-top: 8px;
}

form input:focus{
    outline:none;
    border:solid 1px #ccc;
}

form input.submit{
    background-color: #212121;
    font:400 14px 'Hind', sans-serif;
    color:#fff;
    line-height: 24px;
    letter-spacing: 0.2em;
    width:282px;
    padding-left: 0;
}

form input.submit:hover{
    background-color: #f7f7f7;
    color:#212121;
    border-color:#212121;
    font-weight: 600;
    cursor: pointer;
}

footer{
    width:100%;
    position: absolute;
    bottom: 0;
    height:412px;
    background-color: #212429;
    color:#f9f9fb;
   
}

.column{
    width:360px;
    height: 100%;
    /* background: #ccc; */
    display: flex;
    font-size:0;
    margin:0;
    padding: 0;
    line-height: 24px;
    padding:60px 0;
    flex-direction: column;
    justify-content: space-between;
}

footer .wrapper{
    top:0;
    height:100%;
    padding-bottom: 41px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer footer{
    height:41px;
    width:100%;
    background: #17191c;
    font:300 14px 'Hind', sans-serif;
    line-height: 41px;
    letter-spacing: 0.1em;
    color:#747577;
    text-transform: uppercase;
    text-align: center;
}

footer footer a{
    color:#747577;
}

footer footer a:before{
    content: 'i';
    margin:0 14px;
}



footer h3{
    font:bold 16px 'Montserrat', sans-serif;
    letter-spacing: .06em;
    text-transform: uppercase;
}

footer .column .content{
    height: 205px;
    width:100%;
    background: #888;
    line-height: 0;
    /*display:flex;
    flex-direction: column;
    justify-content: space-between;*/
}

footer .column .login{
    margin-bottom: 7px;
    /* margin-top: -8px; */
    display: inline-block;
    line-height: 24px;
    font:300 14px 'Hind', sans-serif;
}

footer .column p{
    font:300 15px 'Hind', sans-serif;
    line-height: 28px;
    /* margin-top: 8px; */
}

footer .about div{
    margin-top: 2px;
    font: normal 36.05px 'Mrs Saint Delafield', cursive;
    letter-spacing: 0.012em;
    background-color: #3a3c49;
    height: 147px;
    width:100%;
    position: relative;
}

footer .column .sign span{
    position: absolute;
    bottom:10px;
    right: 10px;
    transform: rotate(-8deg);
}

footer .instagram .content {
    height: 200px;
}

.twitts {
    margin-bottom: 25px;
}

footer .instagram .content {
    height: 200px;
}

footer .comments{
    font:300 14px 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    line-height: 24px;
}

footer .comments .content .comment {
    padding: 24px 0;
    border-top: solid 1px #ddd;
    line-height: 24px;
}

footer .comments .content .comment:first-child{
    padding-top:0;
    border: none;
}

footer .comments .content .comment p {
    line-height: 24px;
}

footer .instagram .container a{
    height:99px;
    width: 118.6px;
    background: #fff;
    display: inline-block;
    margin: 0 2px 2px 0;
}

footer .instagram .container a:nth-child(3n){
    margin: 0 0 2px 0;
}

footer .column .twitts{
    font:300 14px 'Hind', sans-serif;
    letter-spacing: 0.1em;
    padding-left: 22px;
    margin-bottom: 30px;
}

footer .column .twitts a:hover{
    color:#1da1f2;
}

footer .column .twitts:before{
    content:"\f099";
    font-family:FontAwesome;
    margin-left: -22px;
}