@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');

body{
    width:100%;
    height:100%;
}

/*body::before{
    content:'';
    height:345px;
    width:100%;
    background-color: #212429;
    position: absolute;
}*/

.pseudoheader{
    width:100%;
    height:345px;
    background-color: #212429;
}


.wrapper{
    width:1530px;
    margin:0 auto;
    position: relative;
    top:-345px;
}

header{
    height:55px;
    background-color: #212429;
    display: flex;
    justify-content:space-between;
    align-items:center;
    
}

.icon{
    padding: 0 17px 0 20px;
}

.icon:hover{
    color:#999;
}

.btn-menu{
    height:100%;
    border:solid 1px #3c3c3c;
    border-width:0 1px;
    color:#fff;
    font-size:23px;
    display: flex;
    justify-content:center;
    align-items:center;
}

.logo{
    height:100%;
    display: flex;
    align-items: baseline;
    margin-left: 277px;
}

.logo span{
    text-transform: uppercase;
    color:#fefefe;
    font:600 22.15px 'Hind';
    margin-left:7.5px;
    letter-spacing: 4.5px
}

.social{
    height: 100%;
}

.social ul{
    height: 100%;
    
}

.social ul li{
    display: inline-block;
    height: 100%;
    border-left: solid 1px #3c3c3c;
}



.social ul li:last-child{
    border-right: solid 1px #3c3c3c;
}

.social ul li a{
    height:100%;
    color:#fff;
    display: flex;
    align-items:center;
    justify-content:center;
}

.slider{
    height:580px;
    position: relative;
}

/*.slider img{
    position: absolute;
    top:0;

}*/

.slider .caption{
    position: absolute;
    top:0;
    color:#fff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
}

.slider h2, .slider h3{
    margin-left: 98.5px;
}

.slider .caption h2{
    font:600 18px 'Hind', sans-serif;
    letter-spacing: 3.6px;
    margin-bottom: 12px;
    margin-top: 9px;
}

.slider .caption h3{
    font:bold 40px 'Hind', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5.59px;
    line-height: 50px;
    margin-left: 97.5px;
}



